body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
ul.items {
    padding: 0;
    list-style-position: inside;
}

ul.cv-items {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

#container {
    display: inline;
}

#title {
    float: left;
}

#date {
    float: right;
}

#content {
    clear: both;
}

a:hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: #995;
}
h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-bottom: 5px;

}
h2 {
    font-size:1.6em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-bottom: 2px;
    color: #990;
}
h3 {
    margin-top: 0;
    margin-bottom: 2px;
}
h4 {
    margin-top: 0;
    margin-bottom: 2px;
    color: #999;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
hr {
    border: 0.5px solid #d5d5d5;
}